.footer {
    margin-top: 200px;
}
.footer_top {
    display: flex;
    justify-content: space-between;
}
.footer__box h4{
    font-size: 19px;
    font-family: 'Mulish', sans-serif;
    margin-top: 8px;
}
.footer__category a{
    font-family: 'Mulish', sans-serif;
    color: #848484;
    text-decoration: none;
    margin: 5px 0 10px 0;
}
.country {
    margin-top: 3px;
    font-size: 16px;
}
.footer__category{
    display: flex;
    flex-direction: column;
}
.footer__description {
    max-width: 250px;
    font-family: 'Mulish', sans-serif;
    color: #848484;
    margin: 40px 0 56px 0;
}
.footer__year {
    font-family: 'Mulish', sans-serif;
    color: #848484;
}
.footer__line{
    width: 100%;
    background: #C4C4C4;
    height: 2px;
    margin-top: 50px;
}
.footer__social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer__social a{
    margin-right: 20px;
}
.twitter{
    transition: 0.5s;
}
.twitter:hover{
    fill: #0CAFFF;
}
.facebook{
    transition: 0.5s;
}
.facebook:hover{
    fill: #2a52be;
}
.linkedin{
    transition: 0.5s;
}
.linkedin:hover{
    fill: #2a52be;
}
.youtube{
    transition: 0.5s;
}
.youtube:hover{
    fill: red;
}
.instagram{
    transition: 0.5s;
}
.instagram:hover{
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}